@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
   background-color: #ece1b4;

}

h1 {
   text-align: center;
	font-size: 3em;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	background: url('../images/abc.png');
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: text 6.5s linear infinite;
}

@keyframes text {
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 100% 50%;
	}
}

 a {
    background-color: rgb(172, 115, 7);
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50%;
 }

 .nenorocire {
    margin-top: 60px;
    text-align: center;
   }
 

 h2 {
    color: rgb(172, 115, 7);
    font-size: 15px;
    text-align: center;
    
 }

 h3 {
    color: rgb(172, 115, 7);
    font-size: 11px;
    text-align: center;

 }

.paddding {
    padding-block:10px 20px ;
}